/* This will apply to both the image and the text within the #content div */
#content {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Use the full height of the viewport */
    text-align: center; /* Ensure text is centered if it spans multiple lines */
    background-color: rgb(163, 205, 205);
}

#content img {
    max-width: 50%; /* Adjust the image size, ensuring it's not too large */
    height: auto; /* Maintain aspect ratio */
    border: 0; /* Remove any default borders */
}

#content p {
    font-size: 30px; /* Set the size of the text */
    color: #122d5c; /* Set the text color */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
